

<div class="main_line">
		<div class="authform white_bg">
			<div class="loginform">
				
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<div class="Lightoak">Lightoak</div>
				  <%= f.email_field  :email, name:'user[email]', :autofocus => true %>

				  <%= f.password_field :password, name:'user[password]' %>

				  <% if devise_mapping.rememberable? -%>
				    <div lass="rem_for">
				    	<label>
				    	<%= f.check_box :remember_me %>
				    	запомнить
				    	</label>
						<div class="forgot">
							<%= link_to "Забыли пароль?", new_password_path(resource_name) %>
						</div>
				    </div>
				  <% end -%>

				  <div><%= f.submit "Sign in" %></div>
				<% end %>
			</div>
			<div class="regform">
				<div class="hidden_video" style="display: none;">
						<div class="vid">
							<iframe width="853" height="480" src="http://www.youtube.com/embed/DbFUQOzI-yY?rel=0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				<div class="video" title="Просмотреть видео">
					
					<%= image_tag "play_video.png" %>
				</div>
				<input type="submit" value="Регистрация">
			</div>
		</div>
		<%= render "/devise/shared/registration" %>
	</div>
