

<div class="main_line">
		<div class="authform white_bg">
			<div class="loginform">
				
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<div class="Lightoak">Lightoak</div>
				  <%= f.email_field  :email,id:'user_email_login', name:'user[email]'%>

				  <%= f.password_field :password,id:'user_password_login', name:'user[password]' %>

				  <% if devise_mapping.rememberable? -%>
				    <div lass="rem_for">
				    	<label>
				    	<%= f.check_box :remember_me %>
				    	запомнить
				    	</label>
						<div class="forgot">
							<%= link_to "Забыли пароль?", new_password_path(resource_name) %>
						</div>
				    </div>
				  <% end -%>

				  <div><%= f.submit "Войти" %></div>
				<% end %>
			</div>
			<div class="regform">
				<div class="hidden_video" style="display: none;">
						<div class="vid">
							<iframe width="853" height="480" src="http://www.youtube.com/embed/DbFUQOzI-yY?rel=0" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				<div class="video" title="Просмотреть видео">
					
					<%= image_tag "play_video.png" %>
				</div>
				<input type="submit" value="Регистрация">
			</div>
		</div>
		<%= render "/devise/shared/registration" %>
		<div class="companyline">
			<ul>
				<li>
					<a href="#">О нас</a>
				</li>
				<li>
					<a href="#">Помощь</a>
				</li>
				<li>
					<a href="#">Блог</a>
				</li>
			</ul>
			<div class="langline">
				<div class="langlink"><%= image_tag "globe.png" %>&nbsp;Русский

				</div>
				<div class="localemenu">
					<ul>
						<li>
							<a data-locale="ru" class="locale-option">Русский</a>
						</li>
						<li>
							<a data-locale="en" class="locale-option">English</a>
						</li>
						<li>
							<a data-locale="de" class="locale-option">Deutsch</a>
						</li>
						<li>
							<a data-locale="fr" class="locale-option">Français</a>
						</li>
						<li>
							<a data-locale="it" class="locale-option">(Топ 5)</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
